*{
	margin: 0;
	padding: 0;	
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important; 
    -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important; 
    outline: none !important;
}
 
body{
	margin: 0;
	padding: 0;
	background: #E0E0E0;
	font-size: 120%;
	font-family: "Helvetica", Arial, Verdana, serif;
    -webkit-touch-callout: none;                
    -webkit-text-size-adjust: none;  
    -webkit-user-select: none;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #888;
} 


#fixed-header{
	top: -2px;
	left: 0;
	right: 0;
	position: fixed;
	overflow: hidden;
	z-index: 99999;		
}

#top-header{
	width: 100%;
	height: 40px;
	background: #000;
	text-align: center;
	color: #FFF;	
}


#searchOpen{
	width: 60px;
	height: 100%;
	border: 0px solid red;
	background: url("../img/search.png") no-repeat center;
	background-size: 32px;
	float: left;
	font-weight: bold;
	text-align: left;
}



#top-settings{
	width: 50px;
	height: 100%;
	border: 0px solid red;
	background: url("../img/menu.png") no-repeat center;
	background-size: 20px 20px;
	float: right;
}

#alerts{
	width: 40px;
	height: 100%;
	border: 0px solid red;
	background: url("../img/alert.png") no-repeat center;
	background-size: 30px 30px;
	float: right;	
}


#new-chats{
	width: 40px;
	height: 100%;
	border: 0px solid red;
	background: url("../img/new-chat.png") no-repeat center;
	background-size: 24px 24px;
	float: right;
}

.count-notify{
	width: 14px;
	height: 12px;
	border: 1px solid red;
	border-radius: 50%;
	background: rgba(255, 0, 0, .9);
	color: #FFF;
	font-size: 10px;
	font-family: Arial;
	padding: 2px 0 0 0;
	margin: 5px 0 0 22px;
	text-align: center;
	font-weight: bold;
	display: none;
}

#top-settings:active, #new-chats:active, #alerts:active, #searchOpen:active, #closeSearchBox:active{
	background-color: #444;
	color: #000;
}


#settings_cover{
	bottom: 0;
	left: 0;
	right: 0;
	min-height: 200px;
	border: 0px solid red;
	position: absolute;
	z-index: 999999;
	display: none;
}

#settings_content{
	width: 90%;
	min-height: 100px;
	margin: auto;
	border: 1px solid #BBB;
	border-radius: 4px 4px 0 0;
	background: #222;
	position: relative;
	overflow: hidden;
	text-align: center;
}

.settings_button{
	width: 100%;
	height: 35px;
	display: block;
	border-bottom: 1px solid #BBB;
	text-align: left;
	font-size: 92%;
	margin: auto;
	padding: 14px 0 0 12px;
	color: #AAA;
}

.settings_button:last-child{
	border: 0;
}



#help{
	background: url("../img/help.png") no-repeat 10px 10px;
	background-size: 32px 32px;
	padding-left: 50px;
}


#profile{
	background: url("../img/profile.png") no-repeat 10px 8px;
	background-size: 32px 32px;
	padding-left: 50px;
}

#matchMaker{
	background: url("../img/match.png") no-repeat 10px 10px;
	background-size: 32px 32px;
	padding-left: 50px;
}

#settings{
	background: url("../img/settings.png") no-repeat 16px 14px;
	background-size: 20px 20px;
	padding-left: 50px;
}


#logout{
	background: url("../img/logout.png") no-repeat 16px 15px;
	background-size: 20px 20px;
	padding-left: 50px;
}


#help:active, #logout:active, #settings:active, #matchMaker:active, #profile:active, #viewMyProfileEditImage:active{
	background-color: #00BFFF;
	color: #FFF;
}


#header{
	width: 100%;
	height: 46px;
	background: #222;
	border-bottom: 2px solid #00BFFF;
	text-align: center;

}

#content{
	width:100%;
	min-height: 200px;
	border: 0px solid red;
	margin: auto;
	margin-top: 85px;
	overflow: hidden;
}

.link_button{
	width: 33%;
	height: 26px;
	float: left;
	border: 0px solid red;
	font-size: 90%;
	color: #FFF;
	padding: 14px 0 0 0;
	position: relative;
}


.link_button:active{
	background-color: #00BFFF;
	color: #000;
	border-bottom: 7px solid #00BFFF;
}

.active-tab{
	border-bottom: 7px solid #00BFFF;
	color: #00BFFF;
}

.tab-seperator{
	width: 0;
	height: 28px;
	float: left;
	margin-top: 10px;
	border-right: 1px solid #BBB;
}

#display_chats, #display_favorites{
	width: 98%;
	margin: auto;
	margin-top: 2px;
	border-right: 1px solid rgb(220, 220, 220);
	overflow-x: hidden;
	overflow-y: auto;
	border: 0px solid red;
}

#hookups{
	width: 98%;
	margin: auto;
	border-right: 1px solid rgb(220, 220, 220);
	overflow-x: hidden;
	overflow-y: auto;
	border: 0px solid red;
}


#display_favorites em, #display_chats em, #hook-up-image em{
	display: block;
	margin: 10px auto;
	color: #999;
	text-align: center;
	font-size: 80%;
}

.online-users-cover, .fav-users-cover, .matches_cover{
	width: 95%;
	height: 55px;
	margin: auto;
	border-bottom: 1px solid #BBB;
	padding: 8px 0 0 10px;
	overflow: hidden;
}


.online-users-cover:active, .fav-users-cover:active, .matches_cover:active{
	background: #00BFFF;
}

.user-profile{
	width: 48px;
	height: 48px;
	border-radius: 50%;
	margin: 0 0 0 4px;
	float: left;
	text-align: center;
	overflow: hidden;
}


.user-name{
	width: 300px;
	height: 30px;
	border: 1px solid red;
	float: left;
	font-size: 92%;
	margin: 14px 0 0 8px;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #666;
}


.chat_user_pic{
	width: 48px;
	height: 48px;
	float: left;
	border-radius: 50%;
	box-shadow: 0 0 4px #BBB inset;
	overflow: hidden;
}

.chat_user_pic img{
	width: 100%;
	min-height: 50px;
}


.chat_username{
	width: 180px;
	height: 24px;
	float: left;
	margin: 4px 0 0px 6px;
	border: 0px solid red;
	font-size: 95%;
	font-weight: bold;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}



.onlineIcons{
	width: 8px;
	height: 8px;
	border: 0px solid red;
	position: relative;
	background: #080;
	border-radius: 50%;
	z-index: 9999;
	float: left;
	margin: 5px 3px 0 0;
}

.review_message, .user-fav-review, .hook_gender_age{
	width: 70%;
	height: 17px;
	float: left;
	margin: 0 0 0 6px;
	border: 0px solid red;
	font-size: 70%;
	color: #888;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.incomings{
	background: url("../img/incoming.png") no-repeat 0 0;
	background-size: 8px 14px;
	padding-left: 14px;
}


.unread{
	width: auto;
	height: 15px;
	right: 0;
	border: 0px solid red;
	position: absolute;
	margin: 5px 5px 0 0;
	font-size: 70%;
	text-align: center;
	color: #888;
}


#searchSpinner{
	width: 140px;
	height: 25px;
	margin: 4% auto;
	padding-top: 5px;
	border: 0px solid red;
	text-align: center;
	color: #666;
	font-size: 13px;
}


#user-search-cover{
	top: -2px;
	left: 0;
	right: 0;
	position: fixed;
	height: 50px;
	border: 0px solid #F00;
	background: #222;
	text-align: center;
	z-index: 9999999;
	overflow: hidden;
}


#closeSearchBox{
	width: 40px;
	height: 100%;
	float: left;
	border: 0px solid red;
	background: url("../img/back.png") no-repeat center;
	background-size: 32px;
}

#user_search{
	width: 220px;
	height: 30px;
	border: 0;
	border-bottom: 1px solid #888;
	background: #222 url("../img/search.png") no-repeat 0 center;
	background-size: 24px;
	color: #222;
	margin: 8px auto 0 20px;
	padding: 0 0 0 30px;
	float: left;
	font-size: 92%;
	font-family: arial;
	text-align: left;
	color: #888;
}


#user_search:focus{
	border-bottom-color: #00BFFF;
	background: #222 url("../img/search_blue.png") no-repeat 0 center;
	background-size: 24px;
	color: #00BFFF;
}

#searchresultsDisplay{
	width: 99%;
	margin: 50px auto 0 auto;
	border-right: 1px solid #FFF;
	text-align: left;
	overflow: hidden;
	overflow-y: auto;
}

#tapHoldMenu{
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, .5);
	position: fixed;
	z-index: 999999;
	display: none;
}

#chatsHoldsMenu{
	width: 80%;
	min-height: 20px;
	background: #444;
	border: 1px solid #BBB;
	border-radius: 4px;
	margin: 30% auto;
	overflow: hidden; 
}

.list-contacts{
	width: 100%;
	height: 30px;
	padding: 10px 0 0 5px;
	border-bottom: 1px solid #BBB;
	text-align: left;
}

.conversation_header{
	top: -2px;
	left: 0;
	right: 0;
	height: 50px;
	border-bottom: 1px solid #444;
	background: #444;
	position: fixed;
	z-index: 99999;
	color: #DDD;
}


.user_name_view{
	max-width: 250px;
	height: 100%;
	border: 0px solid red;
	padding-right: 5px;
	float: left;
}

.user_name_view:active{
	background-color: #888;
}


.view_go_back{
	width: 12px;
	height: 100%;
	background: url("../img/goBack.png") no-repeat center;
	background-size: 12px 24px;
	float: left;
}

.view_profile{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 0px solid red;
	float: left;
	overflow: hidden;
	margin: 6px 5px 0 0;
}

.view_username{
	max-width: 140px;
	height: 30px;
	font-size: 110%;
	font-weight: bold;
	text-align: left;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #C0C0C0;
	float: left;
	border: 0px solid red;
	margin: 12px 0 0 0;
}


#pop_chats{
	top: 25%;
	left: 25%;
	position: fixed;
	background: rgba(240, 240, 240, .98);
	text-align: center;
	z-index: 9999999;
	overflow: hidden;
	display: none;	
	border: 0px solid red;
}


.delete-chat-conversation{
	width: 50px;
	height: 100%;
	background: url("../img/clear.png") no-repeat center;
	background-size: 38px 38px;
	border: 0;
	float: right;
}

.delete-chat-conversation:active, #chat_users:active{
	background-color: #00BFFF;
	border: 1px solid #00BFFF;
}

.conversation_body{
	width: 98%;
	border-right: 1px solid rgb(240, 240, 240);
	margin: auto;
	margin-top: 49px;
	z-index: 1;
	overflow-y: auto;
	overflow-x: hidden;
}


.startConvo{
	width: auto;
	margin: 10% auto;
	font-size: 80%;
	color: #888;
	text-align: center;
	font-style: italic;
	display: none;
}

.conversation_footer{
	bottom: 0;
	left: 0;
	right: 0;
	min-height: 40px;
	border-top: 1px solid #BBB;
	background: #E0E0E0;
	position: fixed;
	z-index: 9999;
}



#sendMessaginToolsCover{
	width: 100%;
	height: 40px;
	border: 0px solid red;
}

.emoticons{
	width: 48px;
	height: 100%;
	border: 0px solid red;
	float: left;
	background: url("../img/emoticon.png") no-repeat center;
}

.emoticons:active, .chat-send-message:active{
	background-color: #BBB;
}

.chat-text-box{
	width: 68%;
	height: 34px;
	border: 0px solid red;
	float: left;
	margin: 4px 0 0 0;
	background: #E0E0E0;
	font-size: 90%;
}

.chat-send-message{
	width: 34px;
	height: 100%;
	border: 0px solid red;
	background: #E0E0E0 url("../img/send.png") no-repeat center;
	background-size: 48px 48px;
	text-align: center;
	float: right;

}


#showEmoticons{
	width: 99%;
	min-height:1px;
	background: #E0E0E0;
	border-top: 1px solid #BBB;
	margin: auto; 
	padding: 4px;
	text-align: left;
	overflow: hidden;
	display: none;
}


.addEmoticon{
	width: 32px;
	margin: 4px 6px 0 6px;
	border: 0px solid red;
}

.sentEmotions{
	width: 24px;
}

.conversation_outgoing, .conversation_income{
	width: 98%;
	min-height: 30px;
	margin: 10px auto;
	padding: 8px 0 0 0;
	border: 0px solid red;
	
}


#loadHooker{
	top: 5px;
	left: 0;
	right: 0;
	bottom: 0;
	position: fixed;
	text-align: center;
	padding-top: 200px;
	font-size: 92%;
	font-weight: bold;
	color: #444;
	display: none;
}


#searchUserLoader{
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: fixed;
	background: rgba(255, 255, 255, .99);
	text-align: center;
	color: #444;
	z-index: 999999;
	overflow: hidden;
	display: none;
}


#searchQuery{
	width: 95%;
	height: 30px;
	padding: 10px 4px 0 4px;
	border-radius: 4px;
	text-align: center;
	font-size: 70%;
	color: #444;
	margin: 5px auto;
	font-style: italic;
}	


.outgoing_conversation_cover{
	max-width: 60%;
	min-height: 20px;
	background: #00BFFF;
	border: 0px solid #BBB;
	padding: 8px 10px 5px 10px;
	border-radius: 20px;
	white-space: pre-wrap;
	word-break: break-all;
	font-size: 80%;
	margin-right: 5px;
	color: #FFF;
	float: right;
	text-align: left;
}

.sent_pending{
	opacity: .2;
}

.send-time_send-status{
	width: 100%;
	height: 15px;
	border: 0px solid red;
	margin: 2px 5px 0 0;
	float: right;
	color: #888;
	font-size: 60%; 
	text-align: right;
}

.receive-time{
	width: 100%;
	height: 15px;
	border: 0px solid red;
	margin: 2px 0 0 5px;
	float: left;
	color: #888;
	font-size: 60%; 
	text-align: left;
}

.income_conversation_cover{
	max-width: 60%;
	min-height: 20px;
	background: #BBB;
	border: 0px solid #BBB;	
	padding: 8px 10px 5px 10px;
	border-radius: 20px;
	white-space: pre-wrap;
	word-break:break-all;
	font-size: 80%;
	margin-left: 5px;
	color: #FFF;
	float: left;
	text-align: left;
}

#view-user-details{
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: fixed;
	background: rgba(255, 255, 255, .98);
	text-align: center;
	z-index: 99999;
	display: none;
}

#profile_users_header{
	width: 100%;
	height: 40px;
	border-bottom: 1px solid #444;
    background-color:#444;
    background-image:linear-gradient(top, #444, #555 ,#444);
    background-image:-webkit-linear-gradient(top, #444, #555 ,#444);
    background-image:-ms-linear-gradient(top, #444, #555 ,#444);
	margin: auto;
}


#go_back_hooks{
	width: 80px;
	height: 35px;
	background: url("../img/goBack.png") no-repeat 0 6px;
	background-size: 12px 24px;
	padding: 5px 0 0 15px;
	text-align: left;
	color: #DDD;
	font-weight: bold;
	font-size: 120%;
	border: 0px solid #FFF;
	float: left;
}

#go_back_hooks:active{
	background-color: #00BFFF;
}

#dislike-button{
	width: 50px;
	height: 40px;
	border: 0px solid #F00;
	background: url("../img/wrong.png") no-repeat center;
	background-size: 24px 24px;
	border-radius: 0px;
	float: right;
	text-align: center;
	color: #FFF;
	font-weight: bold;
}


#like-button{
	width: 50px;
	height: 40px;
	border: 0px solid #F00;
	background: url("../img/hookup.png") no-repeat center;
	background-size: 24px 24px;
	border-radius: 0px;
	float: right;
	text-align: center;
	color: #FFF;
	font-weight: bold;	
}

#like-button:active, #dislike-button:active{
	background-color: #555;
}

#likedOrDislike{
	width: auto;
	height: 20px;
	float: right;
	margin: 10px 5px 0 0;
	color: #FFF;
	display: none;
	text-align: right;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


#profile_users_body{
	width: 100%;
	min-height: 200px; 
	margin: auto;
	font-size: 80%;
	border: 0px solid red;
}

#view_profile_header{
	width: 100%;
	height: 70px;
	margin: auto;
	padding: 5px 0 5px 0;
	border-bottom: 1px solid #BBB;
	background: #DDD;
	overflow: hidden;
}

#view_profile_picture{
	width: 64px;
	height: 64px;
	border: 0px solid red;
	border-radius: 4px;
	float: left;
	margin: 4px 0 0 4px;
	overflow: hidden;
}

#view_profile_picture img{
	width: 100%;
	min-height: 65px;
}

#view_profile_personal{
	width: 160px;
	height: 60px;
	border: 0px solid red;
	float: left;
	margin: 8px 0 0 5px;
	overflow: hidden;
}

#view_profile_username{
	width: 100%;
	height: 24px;
	border: 0px solid red;
	text-align: left;
	font-weight: bold;
	font-size: 120%;
	font-weight: bold;
	color: #222;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#view_profile_gender{
	width: 100%;
	height: 15px;
	border: 0px solid red;
	background: url("../img/label.png") no-repeat 0 -1px;
	background-size: 16px 16px;
	padding-left: 18px;
	text-align: left;
	margin-top: 3px;
	font-size: 80%;
	color: #666;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#view_profile_location{
	width: 100%;
	height: 15px;
	border: 0px solid red;
	background: url("../img/location.png") no-repeat 0 -1px;
	background-size: 16px 16px;
	padding-left: 18px;
	text-align: left;
	margin-top: 3px;
	font-size: 80%;
	color: #666;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}

#view_profile_content{
	width: 99%;
	min-height: 100px;
	border: 0px solid red;
	margin: auto;
	overflow-y: auto;
}

#view_profile_about{

	font-size: 60%;
	color: #666;
}

.btnReadMore{
	color: #00BFFF;
}

#menu_popup{
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: fixed;
	background: rgba(255, 255, 255, .98);
	text-align: center;
	z-index: 99999;
	display: none;
}


#menu_pop_header{
	top: 0;
	left: 0;
	right: 0;
	height: 60px;
	position: fixed;
	background: #444;
	text-align: center;
	z-index: 999999;	
}
	

#menu_pop_title{
	width: 100%;
	height: 100%;
	border: 0px solid red;
	color: #FFF;
}


#menu_pop_title:active{
	background-color: #666;
}

.view_menu_icon{
	width: 24px;
	height: 100%;
	float: left;
	border: 0px solid red;
}

.view_menu_name{
	width: 160px;
	height: 25px;
	float: left;
	border: 0px solid red;
	margin: 18px 0 0 5px;
	text-align: left;
	font-size: 110%;
	color: #DDD;
}


#menu_pop_body{
	width: 95%;
	min-height: 200px;
	margin:  auto;
	margin-top: 0;
	border: 0px solid red;
	overflow: hidden;
}

.menu_pop_button{
	width: 100%;
	height: 34px;
	border-bottom: 1px solid #DDD;
	text-align: left;
	padding: 15px 0 0 10px;
	color: #888;
	font-size: 90%;
}

.helpViewButton{
	width: 100%;
	height: 34px;
	border-bottom: 1px solid #DDD;
	text-align: left;
	padding: 15px 0 0 10px;
	color: #888;
	font-size: 80%;
}

#setLocation{
	background: url("../img/setLocation.png") no-repeat 4px 10px;
	background-size: 32px 32px;
	padding-left: 50px;
}

#accountSettings{
	background: url("../img/account.png") no-repeat 4px 10px;
	background-size: 32px 32px;
	padding-left: 50px;
}

#chatSetting{
	background: url("../img/chat.png") no-repeat 4px 10px;
	background-size: 32px 32px;
	padding-left: 50px;
}

#Notify_settings{
	background: url("../img/notify.png") no-repeat 4px 10px;
	background-size: 32px 32px;
	padding-left: 50px;
}

#Pass_Settings{
	background: url("../img/password.png") no-repeat 4px 10px;
	background-size: 32px 32px;
	padding-left: 50px;
}

#dislike_list{
	background: url("../img/dislike.png") no-repeat 4px 10px;
	background-size: 32px 32px;
	padding-left: 50px;
}

#chatSent{
	background: url("../img/helpTick.png") no-repeat 7px 16px;
	background-size: 18px 16px;
	padding-left: 50px;
}

#helpNotSent{
	background: url("../img/notSent.png") no-repeat 7px 16px;
	background-size: 16px 16px;
	padding-left: 50px;
}

#helpOpenMenu{
	background: url("../img/menu.png") no-repeat 6px 16px;
	background-size: 18px 18px;
	padding-left: 50px;
}

#helpShowChat{
	background: url("../img/new_chat.png") no-repeat 4px 12px;
	background-size: 22px 22px;
	padding-left: 50px;
}

#helpShowNotify{
	background: url("../img/helpAlert.png") no-repeat 2px 10px;
	background-size: 26px 26px;
	padding-left: 50px;
}


.dislikeList{
	width: 95%;
	height: 35px;
	text-align: left;
	padding: 14px 0 0 10px;
	margin: auto;
	border-bottom: 1px solid #DDD;
	color: #555;
}

.notify_buttons{
	width: 95%;
	min-height: 35px;
	text-align: left;
	padding: 14px 0 10px 10px;
	margin: auto;
	border-bottom: 1px solid #DDD;

}

.notify_buttons b{
	color: #000;
	font-size: 90%;

}

.notify_buttons em{
	font-size: 70%;
	color: #888;
}



.incomings img, .chatsMessageReview img{
	width: 16px;
}

#profilePictureView{
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #DDD;
	position: fixed;
	z-index: 999999;
	display: none;
	text-align: center;
}

#profilePictureViewHeader{
	width: 100%;
	height: 35px;
	background: #444 url("../img/goBack.png") no-repeat 0 center;
	background-size: 12px 24px;
	padding: 7px 0 0 15px;
	text-align: left;
	color: #DDD;
	font-weight: bold;
	font-size: 120%;
	border-bottom: 0px inset #444;
}

#profilePictureViewHeader:active{
	background-color: #00BFFF;
}

#profilePictureViewBody{
	width: 300px;
	height: 300px;
	border: 0px solid red;
	border-radius: 2px;
	overflow: hidden;
	text-align: center;
	margin: auto;
	margin-top: 50px;

}


#profilePictureView img{
	width: 300px;
	min-height: 400px;
}


#matchMakersCover{
	width: 100%;
	margin: auto;
	border: 0px solid red;
}


#matchMakerProfileCover{
	width: 100%;
	margin: auto;
	border-right: 1px solid #FFF;
	overflow-y: auto;
	overflow-x: hidden;
}


#showStages{
	width: 100%;
	height: 60px;
	border-bottom: 1px solid #BBB;
	padding: 4px 0 4px 0;
	margin: auto;
}

.stagesCover{
	width: 25%;
	height: 95%;
	margin-top: 4px;
	float: left;
	border: 0px solid #F00;
}


.stageCount{
	width: 16px;
	height: 16px;
	margin: 6px auto;
	border: 1px solid #BBB;
	border-radius: 50%;
	font-size: 65%;
	padding: 4px;
	color: #888;
}


.stageLabel{
	width: 100%;
	text-align: center;
	color: #888;
	font-size: 65%;
}

.stageSelected{
	border-bottom: 4px solid #00BFFF;
}

.stagesCover:active{
	background-color: #00BFFF;
	border-bottom: 4px solid #00BFFF;
	color: #FFF;
}

.stageSelected .stageCount{
	border-color: #00BFFF;
	color: #00BFFF;
}

.stageSelected .stageLabel{
	color: #00BFFF;	
} 

#aboutMeCover{
	width: 100%;
	margin: 10px auto;
	text-align: left;
}

.textInpuEditor{
	width: 85%;
	height: 20px;
	border: 0;
	margin-top: 15px;
	border-bottom: 1px solid #BBB;
	padding: 2px 2px 3px 2px;
	resize: none;
	font-family: Arial;
	font-size: 80%;
	float: left;
	overflow: hidden;
}

.textInpuEditor:focus{
	border-bottom: 2px solid #00BFFF;
}

.textInpuEditor:disabled{
	background: #FFF;
}

.editInputFields{
	width: 12%;
	height: 36px;
	margin-top: 5px;
	background: url("../img/edit-pencil.png") no-repeat center;
	float: right;
}

.editInputFields:active{
	background-color: #00BFFF;
}



.editStageHide{
	display: none;
}


.selectYourInfo{
	width: 96%;
	min-height: 20px;
	margin: 10px auto;
	border: 1px solid #DDD;
	box-shadow: 1px 2px 3px #BBB;
	text-shadow: 0 0 3px #F0F0F0 inset;
	background: #F0F0F0;
	border-radius: 3px;
	text-align: left;
	font-size: 100%;
	font-weight: bold;
	overflow: hidden;
}

.selectYourInfoHeader{
	width: 100%;
	height: 20px;
	border-bottom: 1px solid #DDD;
	padding: 5px 0 4px 15px;
	margin: auto;
	color: #666;
	font-size: 80%;
}

.selectYourInfoBody{
	width: 95%;
	min-height: 20px;
	margin: 4px auto
}


.slideCover{
	padding: 10px 0 5px 0;

}

.selectInfoCover{
	width: 90%;
	height: 25px;
	padding: 5px 0 0 10px;
	margin: 2px auto;
	border-bottom: 1px solid #DDD;
	font-size: 80%;
	font-weight: normal;
	color: #888;

}

.selectInfoCover:last-child{
	border: 0;
}

.selectCheckBox, .selectRealCheckBox{
	-moz-transform: scale(1.3);
	-webkit-transform: scale(1.3);
	float: right;
}

.notify_buttons input{
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	float: right;
}

.inputText{
	width: 96%;
	height: 30px;
	border: 0px solid red;
	background: #F0F0F0 url("../img/edit-pencil.png") no-repeat right center;
	background-size: 16px;
	display: block;
	margin: 5px auto;
	font-size: 80%;
	font-weight: normal;
	color: #888;
}


.inputText:focus{
	background: #F0F0F0;
}

.searchKeyword{
	color: #008FFF;
}


#viewEditPictureOptions{
	width: 160px;
	height: 140px;
	background: #444;
	position: absolute;
	border-top: 1px solid #555;
	top: 60px;
	right: 0;
	display: none;
	overflow: hidden;
}


.imageEditButton{
	width: 80px;
	height: 70px;
	border: 0px solid red;
	float: left;
}

#uploadFromGallery{
	background: url("../img/gallery.png") no-repeat center;
}

#uploadFromCamera{
	background: url("../img/camera.png") no-repeat center;
}

#removeProfilePicture{
	background: url("../img/removePicture.png") no-repeat center;
}

#uploadFromGallery:active, #uploadFromCamera:active, #removeProfilePicture:active{
	background-color: #00BFFF;
}


#viewMyProfile{
	width: 80%;
	margin: 15px auto;
	border: 1px solid #DDD;
	box-shadow: 0 0 5px #BBB; 
	border-radius: 5px;
	overflow: hidden;
}


#viewMyProfile img{
	width: 100%;
}

#viewMyProfileEditImage{
	width: 60px;
	height: 100%;
	border: 0px solid red;
	background: url("../img/editProfile.png") no-repeat center;
	background-size: 20px;
	float: right;
	z-index: 9999;
	display: none;
}

#viewMyProfileUserName, #viewMyProfileUserEmail{
	width: 90%;
	height: 30px;
	border: 0px solid #F00;
	margin: 6px auto;
	text-align: left;
	color: #888;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 85%;
	font-weight: normal;

}

#infoAlertNotifcation{
	width: 200px;
	height: 25px;
	padding: 8px 0 0 0;
	top: 0;
	left: 0;
	right: 0;
	bottom: 50px;
	margin: auto auto 0 auto;
	position: absolute;
	border: 1px solid #222;
	border-radius: 2px;
	box-shadow: 0 0 3px #222;
	background: #222;
	text-align: center;
	color: #FFF;
	font-size: 13px;
	z-index: 999999;
	display: none;
}

#langaugesCover{
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: fixed;
	border: 1px solid #222;
	border-radius: 3px;
	box-shadow: 0 0 6px #222;
	background: rgba(20, 20, 20, .8);
	text-align: center;
	color: #FFF;
	font-size: 14px;
	z-index: 9999999;
	overflow: hidden;
	display: none;
}


#languageBody{
	width: 260px;
	margin: 20px auto;
	background: #333;
	border-radius: 3px;
	overflow-x: hidden;
	overflow-y: auto;
}


.langButton{
	width: 240px;
	height: 30px;
	border-bottom: 1px solid #555;
	padding: 10px 0 0 20px;
	text-align: left;
	color: #DDD;
}

.langButton:last-child{
	border: 0;
}


.langButton:active{
	background: #444;
}

#selDateCover{
	width: 280px;
	height: 225px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 20%;
	margin: auto auto 0 auto;
	position: absolute;
	border: 1px solid #222;
	border-radius: 3px;
	box-shadow: 0 0 6px #222;
	background: #222;
	text-align: center;
	color: #FFF;
	font-size: 14px;
	z-index: 99999;
	overflow: hidden;
	display: none;
}

#selDateHeader{
	width: 100%;
	height: 30px;
	text-align: center;
	padding: 10px 0 0 10px;
	color: #888;
	font-size: 18px;
	font-weight: bold;
	background: #181818;
}


#selDateBody{
	width: 100%;
	height: 125px;
	margin: 8px auto 0 auto;
	border: 0px solid red;

}


#selDateYear{
	width: 70px;
	height: 35px;
	display: inline-block;
	border-top: 1px solid #444;
	border-bottom: 1px solid #444;
	padding: 10px 0 0 0;
	font-size: 20px;
	font-weight: bold;
	color: #888;
	overflow: hidden;
}


#selDateMonth{
	width: 70px;
	height: 35px;
	display: inline-block;
	border-top: 1px solid #444;
	border-bottom: 1px solid #444;
	padding: 10px 0 0 0;
	font-size: 20px;
	font-weight: bold;
	color: #888;
	overflow: hidden;
}


#selDateDay{
	width: 70px;
	height: 35px;
	display: inline-block;
	border-top: 1px solid #444;
	border-bottom: 1px solid #444;
	padding: 10px 0 0 0;
	font-size: 20px;
	font-weight: bold;
	color: #888;
	overflow: hidden;
}

#selDateFooter{
	width: 100%;
	height: 50px;
	text-align: center;
	border-top: 1px solid #444;
	font-size: 18px;
}


#selDateCancel{
	width: 132px;
	height: 30px;
	border: 0px solid #F00;
	text-align: center;
	color: #222;
	background: #F0F0F0;
	border-radius: 1px;
	margin-top: 7px;
	padding-top: 10px;
	display: inline-block;
	vertical-align: middle;
	font-weight: bold;
}

#selDateAccept{
	width: 132px;
	height: 30px;
	border: 0px solid #F00;
	text-align: center;
	color: #222;
	background: #F0F0F0;
	border-radius: 1px;
	margin-top: 7px;
	padding-top: 10px;
	display: inline-block;
	vertical-align: middle;
	font-weight: bold;
}

#selDateCancel:active, #selDateAccept:active{
	background-color: #00BFFF;
	color: #FFF;
}


#photoCropCover{
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: fixed;
	background: #222;
	text-align: center;
	z-index: 99999;
	display: none;
}

#photoCropperMain{
	width: 100%;
	margin: auto;
	overflow: hidden;
	border: 0px solid red;
}

#photoCropperMain img{
	width: 100%;
}

#photoCropButtons{
	width: 100%;
	height: 50px;
	bottom: 0;
	left: 0;
	right: 0;
	position: fixed;
	border: 0px solid red;
	overflow: hidden;
	font-size: 85%;
	background: #000;
	z-index: 999999;
}

#photoCropperCancel{
	width: 49.8%;
	height: 35px;
	padding: 15px 0 0 0;
	text-align: center;
	color: #888;
	float: left;
	border-right: 1px solid #222;
}

#photoCropperSave{
	width: 49.8%;
	height: 35px;
	padding: 15px 0 0 0;
	text-align: center;
	color: #888;
	float: right;
}

#photoCropperCancel:active, #photoCropperSave:active{
	background-color: #00BFFF;
	color: #FFF;
}

.slideUp{
	width: 70px;
	height: 30px;
	border: 0px solid red;
	display: inline-block;
	background: url("../img/move_up.png") no-repeat center;
	background-size: 28px 24px;
}

.slideDown{
	width: 70px;
	height: 30px;
	border: 0px solid red;
	display: inline-block;
	background: url("../img/move_down.png") no-repeat center;
	background-size: 28px 24px;
}


#yearMoveUp:active, #monthMoveUp:active, #dayMoveUp:active, #yearMoveDown:active, #monthMoveDown:active, #dayMoveDown:active{
	background-color: #00BFFF;
}

