
*{
	margin: 0;
	padding: 0;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
    -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
    outline: none !important;	
}



body#lovenest{
	margin: 0;
	padding: 0;
	background: #000020;
	font-size: 14px;
    font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
	-webkit-touch-callout: none;  
    -webkit-text-size-adjust: none;           
    -webkit-user-select: none;
}


#header{
	width: 100%;
	height: 80px;
	border: 0px solid red;
	text-align: center;
	margin: 5% auto;
}

#logo{
	width: 100px;
}

#content{
	margin: 10px auto;
	font-size: 13px;
	text-align: center;
	
}


#sign_in{
	width: 140px;
	height: 35px;
	background: #00BFFF;
	border-radius: 4px;
	float: right;
	padding: 12px 0 0 0;
	text-align: center;
	color: #FFF;
	margin: 0 10px 0 0;
	font-weight: bold;	
}

#loginID, #username{
	width: 80%;
	height: 40px;
	border: 0;
	border-radius: 50px;
	background: url("../img/user.png") no-repeat 15px 12px;
	background-size: 16px 16px;
	box-shadow: 0 0 8px #888 inset;
	padding: 0 0 0 35px;
	background-color: #FFF; 
	margin: 10px auto;
	text-align: left;
	font-size: 14px;
	color: #666;
}


#loginPass{
	width: 80%;
	height: 40px;
	border: 0;
	border-radius: 50px;
	background: url("../img/lock.png") no-repeat 15px 12px;
	background-size: 16px 16px;
	box-shadow: 0 0 8px #888 inset;
	background-color: #FFF; 
	padding: 0 0 0 35px;
	margin: 10px auto;
	text-align: left;
	font-size: 14px;
	color: #666;

}

#email{
	width: 80%;
	height: 40px;
	border: 0;
	border-radius: 50px;
	background: url("../img/email.png") no-repeat 15px 12px;
	background-size: 16px 16px;
	box-shadow: 0 0 8px #888 inset;
	padding: 0 0 0 35px;
	background-color: #FFF; 
	margin: 10px auto;
	text-align: left;
	font-size: 14px;
	color: #666;
}


 #userPass{
	width: 80%;
	height: 40px;
	border: 0;
	border-radius: 50px;
	background: url("../img/lock.png") no-repeat 15px 12px;
	background-size: 16px 16px;
	box-shadow: 0 0 8px #888 inset;
	background-color: #FFF; 
	padding: 0 0 0 35px;
	margin: 10px auto;
	text-align: left;
	font-size: 14px;
	color: #666;

}

#confirmPass{
	width: 80%;
	height: 40px;
	border: 0;
	border-radius: 50px;
	background: url("../img/lock.png") no-repeat 15px 12px;
	background-size: 16px 16px;
	box-shadow: 0 0 8px #888 inset;
	background-color: #FFF; 
	padding: 0 0 0 35px;
	margin: 10px auto;
	text-align: left;
	font-size: 14px;
	color: #666;

}


#loginButton{
	width: 160px;
	height: 40px;
	background: #000050;
	border: 0;
	border-radius: 50px;
	margin: 15px auto;
	color: #FFF;
	font-size: 14px;
	font-weight: bold;
}

#loginButton:active{
	background: #000090;
	color: #FFF;
}

#submitRegButton{
	width: 160px;
	height: 40px;
	background: #D00;
	border: 0;
	border-radius: 50px;
	margin: 20px auto;
	color: #FFF;
	font-size: 14;
	font-weight: bold;
}


#forgotPassword{
	width: auto;
	font-size: 14px;
	margin: 20px auto;
	margin-bottom: 30px;
	text-align: center;
	color: #FFF;
	border: 0px solid red;
}



#register_button{
	width: 80%;
	height: 40px;
	border: 0px solid red;
	color: #FFF;
	text-align: center;
	font-size: 14px;
	margin: 10px auto; 
	display: none;
}


#show_user_login_button{
	width: 80%;
	height: 40px;
	border: 0px solid red;
	color: #FFF;
	text-align: center;
	font-size: 14px;
	margin: 10px auto; 
}

#screen_dimmer{
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, .4);
	position: fixed;
	display: none;
}


.request_name{
	width: 80%;
	height: 10px;
	border: 0px solid red;
	margin: 50% auto;
	text-align: center;
	color: #FFF;
}

.error_login{
	width: 300px;
	height: 30px;
	border: 1px solid #BBB;
	border-radius: 3px;
	background: #DDD;
	margin: auto;
	margin-top: 50%;
	padding: 10px 5px 0 5px;
	text-align: center;
	color: #F00;
	font-size: 13px;
	font-weight: bold;
}


#settings_cover{
	display: none;
}

.displayFormErrors{
	width: 180px;
	height: 24px;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto auto 30% auto;
	padding: 8px 4px 0 4px;
	text-align: center;
	color: #FFF;
	position: absolute;
	border: 1px solid red;
	border-radius: 3px;
	box-shadow: 1px 1px 3px #800; 
	background-color: red;
	font-size: 95%;
	text-shadow: 0 0 1px #444;
	display: none;
}