<div class="conversation_header">
	<div class="user_name_view">
		<div class="view_go_back"></div>
		<div class="view_profile"><img src="#" style="width: 40px; min-height: 40px"/></div>
		<div class="view_username"></div>
	</div>
	<div class="delete-chat-conversation"></div>
</div>

<div class="conversation_body"><div class="startConvo">Start a conversation with </div></div>
<div class="conversation_footer">
	<div id="sendMessaginToolsCover">
		<div class="emoticons"></div>
		<input class="chat-text-box" placeholder="Type in your message" />
		<div class="chat-send-message"></div>
	</div>
	<div id="showEmoticons"></div>
</div>