<div id="chatSent" class="helpViewButton">Message sent</div>
<div id="helpNotSent" class="helpViewButton">Message is being sent</div>
<div id="helpOpenMenu" class="helpViewButton">Open menu</div>
<div id="helpShowChat" class="helpViewButton">Show unread messages</div>
<div  id="helpShowNotify" class="helpViewButton">Show notifications</div>