<form method="post" action="http://localhost/Projects/Lovenest_final/App_Models/Login_Model.php" id="formLogin">
	<input type="text" id="loginID" class="login-input" name="loginUser" placeholder="Type in your Username" />
	<input type="password" id="loginPass" class="login-input" name="loginPass" placeholder="Type in your Password" /><br /> 
	<input type="button" name="loginButton" id="loginButton" value="Sign In" />
</form>
<div id="forgotPassword" class="link_button" data-open="retrieve_password.html">
	Do you have a bad mind? Tap here!
</div>


<div id="register_button" class="link_button" data-open="register.html">
	Not yet a member? Sign up now					
</div>