<div id="matchMakersCover">
	<div id="showStages">
		<div class="stagesCover stageSelected" data-content="aboutMeCover">
			<div class="stageCount">1</div>
			<div class="stageLabel">About Me</div>
		</div>
		<div class="stagesCover" data-content="personalInfoCover">
			<div class="stageCount">2</div>
			<div class="stageLabel">Personal</div>
		</div>
		<div class="stagesCover" data-content="myAppearance">
			<div class="stageCount">3</div>
			<div class="stageLabel">Appearance</div>
		</div>
		<div class="stagesCover" data-content="lookingForCover">
			<div class="stageCount">4</div>
			<div class="stageLabel">Looking for</div>
		</div>
	</div>

	<div id="matchMakerProfileCover">

<!-- ------------------------- More about user ------------------------- -->		
			<div id="aboutMeCover" class="editStageCover">

				<textarea class="textInpuEditor" id="input_aboutme" placeholder="Write something about yourself" data-obj="about" disabled="true"></textarea>
				<div class="editInputFields"></div>

			</div>



<!-- ------------------------- USer personal details form ------------------------- -->
			<div id="personalInfoCover" class="editStageCover editStageHide">


				<!--  Select user gender -->
				<div class="selectYourInfo">
					<div class="selectYourInfoHeader">Gender: I am a <span class="OptSelectedLabel"></span></div>
					<div class="selectYourInfoBody">
						<div class="selectInfoCover">
							Male
							<input id="genderMale" data-value="Male" type="radio" data-obj="myGender" class="selectCheckBox" name="selectYourGender" />
						</div>
						<div class="selectInfoCover">
							Female
							<input id="genderFemale" data-value="Female" type="radio" data-obj="myGender" class="selectCheckBox" name="selectYourGender" />
						</div>
					</div>

				</div>


				<!--  Select date of birth -->
				<div class="selectYourInfo">
					<div class="selectYourInfoHeader">Date of birth: </div>
					<div class="selectYourInfoBody">						
						<input type="text" data-obj="birthDate" id="selDateofBirth" class="inputText selectDate" placeholder="Date of birth" readonly='true' />
					</div>

				</div>

				<!-- Select user ethnic group -->
				<div class="selectYourInfo">
					<div class="selectYourInfoHeader">Ethnicity: I am <span class="OptSelectedLabel"></span></div>
					<div class="selectYourInfoBody">
						<div class="selectInfoCover">
							African
							<input id="" data-value="African" data-obj="race" type="radio" class="selectCheckBox" name="selectYourEthnic" />
						</div>
						<div class="selectInfoCover">
							White
							<input id="" data-value="White" data-obj="race" type="radio" class="selectCheckBox" name="selectYourEthnic" />
						</div>
						<div class="selectInfoCover">
							Coloured
							<input id="" data-value="Coloured" data-obj="race" type="radio" class="selectCheckBox" name="selectYourEthnic" />
						</div>
						<div class="selectInfoCover">
							Indian
							<input id="" data-value="Indian" data-obj="race" type="radio" class="selectCheckBox" name="selectYourEthnic" />
						</div>
					</div>

				</div>


				<!--  Have children -->
				<div class="selectYourInfo">
					<div class="selectYourInfoHeader">Do you have children?: <span class="OptSelectedLabel"></span></div>
					<div class="selectYourInfoBody">
						<div class="selectInfoCover">
							Yes
							<input id="" data-value="Yes" data-obj="haveChild" type="radio" class="selectCheckBox" name="selectIfYouHaveChild" />
						</div>
						<div class="selectInfoCover">
							No
							<input id="" data-value="No" data-obj="haveChild" type="radio" class="selectCheckBox" name="selectIfYouHaveChild" />
						</div>
					</div>

				</div>

				<!--  NUmber of children -->
				<div class="selectYourInfo">
					<div class="selectYourInfoHeader">Number of children?:  <span class="OptSelectedLabel"></span></div>
					<div class="selectYourInfoBody">						
						<input type="number" id="NumberOfChilds" data-obj="numberChild" class="inputText" placeholder="Type in number of children" />
					</div>

				</div>


				<!--  Want children -->
				<div class="selectYourInfo">
					<div class="selectYourInfoHeader">Do you want children?:  <span class="OptSelectedLabel"></span></div>
					<div class="selectYourInfoBody">
						<div class="selectInfoCover">
							Yes
							<input id="" data-value="Yes" data-obj="wantChild" type="radio" class="selectCheckBox" name="selectIfYouWantChild" />
						</div>
						<div class="selectInfoCover">
							No
							<input id="" data-value="No" data-obj="wantChild" type="radio" class="selectCheckBox" name="selectIfYouWantChild" />
						</div>
					</div>

				</div>


				<!-- Marital status -->
				<div class="selectYourInfo">
					<div class="selectYourInfoHeader">Marital status: <span class="OptSelectedLabel"></span></div>
					<div class="selectYourInfoBody">
						<div class="selectInfoCover">
							Single
							<input id="" data-value="Single" data-obj="marital" type="radio" class="selectCheckBox" name="selectYourMaritalStatus" />
						</div>
						<div class="selectInfoCover">
							Married
							<input id="" data-value="Married" data-obj="marital" type="radio" class="selectCheckBox" name="selectYourMaritalStatus" />
						</div>
						<div class="selectInfoCover">
							Divorce
							<input id="" data-value="Divorce" data-obj="marital" type="radio" class="selectCheckBox" name="selectYourMaritalStatus" />
						</div>
						<div class="selectInfoCover">
							Widow
							<input id="" data-value="Widow" data-obj="marital" type="radio" class="selectCheckBox" name="selectYourMaritalStatus" />
						</div>
						<div class="selectInfoCover">
							Widower
							<input id="" data-value="Widower" data-obj="marital" type="radio" class="selectCheckBox" name="selectYourMaritalStatus" />
						</div>
						<div class="selectInfoCover">
							Other
							<input id="" data-value="Other" data-obj="marital" type="radio" class="selectCheckBox" name="selectYourMaritalStatus" />
						</div>
					</div>

				</div>



				<!--  YOur langage -->
				<div class="selectYourInfo">
					<div class="selectYourInfoHeader">Home Language:  <span class="OptSelectedLabel"></span></div>
					<div class="selectYourInfoBody">						
						<input  type="text" id="myLanguages" data-obj="myLanguage" class="inputText" placeholder="Type in your language" readonly="true" />
					</div>
				</div>


				<!--  Eat habits -->
				<div class="selectYourInfo">
					<div class="selectYourInfoHeader">Eating habits:  <span class="OptSelectedLabel"></span></div>
					<div class="selectYourInfoBody">
						<div class="selectInfoCover">
							Healthy
							<input id="" data-value="Healthy" data-obj="eatHabit" type="radio" class="selectCheckBox" name="selectYourEatHabit" />
						</div>
						<div class="selectInfoCover">
							Most thing
							<input id="" data-value="Most thing" data-obj="eatHabit" type="radio" class="selectCheckBox" name="selectYourEatHabit" />
						</div>
						<div class="selectInfoCover">
							Diet
							<input id="" data-value="Diet" data-obj="eatHabit" type="radio" class="selectCheckBox" name="selectYourEatHabit" />
						</div>
						<div class="selectInfoCover">
							Other
							<input id="" data-value="Other" data-obj="eatHabit" type="radio" class="selectCheckBox" name="selectYourEatHabit" />
						</div>
					</div>

				</div>


				<!--  DO u drink -->
				<div class="selectYourInfo">
					<div class="selectYourInfoHeader">Do you drink?:  <span class="OptSelectedLabel"></span></div>
					<div class="selectYourInfoBody">
						<div class="selectInfoCover">
							Yes
							<input id="" data-value="Yes" data-obj="uDrink" type="radio" class="selectCheckBox" name="selectIfYouDrink" />
						</div>
						<div class="selectInfoCover">
							No
							<input id="" data-value="No" data-obj="uDrink" type="radio" class="selectCheckBox" name="selectIfYouDrink" />
						</div>
					</div>

				</div>


				<!--  Do u smoke -->
				<div class="selectYourInfo">
					<div class="selectYourInfoHeader">Do you smoke?: <span class="OptSelectedLabel"></span></div>
					<div class="selectYourInfoBody">
						<div class="selectInfoCover">
							Yes
							<input id="" data-value="Yes" data-obj="uSmoke" type="radio" class="selectCheckBox" name="selectIfYouSmoke" />
						</div>
						<div class="selectInfoCover">
							No
							<input id="" data-value="No" data-obj="uSmoke" type="radio" class="selectCheckBox" name="selectIfYouSmoke" />
						</div>
					</div>

				</div>

			</div>



<!-- ------------------------- User appearance form ------------------------- -->			
			<div id="myAppearance" class="editStageCover editStageHide">


				<!--  Body type -->
				<div class="selectYourInfo">
					<div class="selectYourInfoHeader">Body Type: <span class="OptSelectedLabel">Slim</span></div>
					<div class="selectYourInfoBody">
						<div class="selectInfoCover">
							Slim
							<input id="" data-value="Slim" data-obj="bodyType" type="radio" class="selectCheckBox" name="selectBodyType" />
						</div>
						<div class="selectInfoCover">
							Mudium
							<input id="" data-value="Mudium" data-obj="bodyType" type="radio" class="selectCheckBox" name="selectBodyType" />
						</div>
						<div class="selectInfoCover">
							Muscular
							<input id="" data-value="Muscular" data-obj="bodyType" type="radio" class="selectCheckBox" name="selectBodyType" />
						</div>
						<div class="selectInfoCover">
							Curvy
							<input id="" data-value="Curvy" data-obj="bodyType" type="radio" class="selectCheckBox" name="selectBodyType" />
						</div>
						<div class="selectInfoCover">
							Fat
							<input id="" data-value="Fat" data-obj="bodyType" type="radio" class="selectCheckBox" name="selectBodyType" />
						</div>
						<div class="selectInfoCover">
							Other
							<input id="" data-value="Other" data-obj="bodyType" type="radio" class="selectCheckBox" name="selectBodyType" />
						</div>
					</div>
				</div>


				<!--  Hair color -->
				<div class="selectYourInfo">
					<div class="selectYourInfoHeader">Hair color: <span class="OptSelectedLabel"></span></div>
					<div class="selectYourInfoBody">
						<div class="selectInfoCover">
							Black
							<input id="" data-value="Black" data-obj="hairColor" type="radio" class="selectCheckBox" name="selectHairColor" />
						</div>
						<div class="selectInfoCover">
							Blonde
							<input id="" data-value="Blonde" data-obj="hairColor" type="radio" class="selectCheckBox" name="selectHairColor" />
						</div>
						<div class="selectInfoCover">
							Grey
							<input id="" data-value="Grey" data-obj="hairColor" type="radio" class="selectCheckBox" name="selectHairColor" />
						</div>
						<div class="selectInfoCover">
							Other
							<input id=""  data-value="Other" data-obj="eyeColor" type="radio" class="selectCheckBox" name="selectHairColor" />
						</div>
					</div>
				</div>


				<!--  Eye color -->
				<div class="selectYourInfo">
					<div class="selectYourInfoHeader">Eye Color: <span class="OptSelectedLabel"></span></div>
					<div class="selectYourInfoBody">
						<div class="selectInfoCover">
							Black
							<input id="" data-value="Black" data-obj="eyeColor" type="radio" class="selectCheckBox" name="selectEyeColor" />
						</div>
						<div class="selectInfoCover">
							Brown
							<input id="" data-value="Brown" data-obj="eyeColor" type="radio" class="selectCheckBox" name="selectEyeColor" />
						</div>
						<div class="selectInfoCover">
							Blue
							<input id="" data-value="Blue" data-obj="eyeColor" type="radio" class="selectCheckBox" name="selectEyeColor" />
						</div>
						<div class="selectInfoCover">
							Other
							<input id="" data-value="Other" data-obj="eyeColor" type="radio" class="selectCheckBox" name="selectEyeColor" />
						</div>
					</div>
				</div>


			</div>



<!-- ------------------------- What user is looking for form ------------------------- -->
			<div id="lookingForCover" class="editStageCover editStageHide">

				<div class="selectYourInfo">
					<div class="selectYourInfoHeader">Looking for a: <span class="OptSelectedLabel"></span></div>
					<div class="selectYourInfoBody">
						<div class="selectInfoCover">
							Male
							<input id="genderLookingMale" data-value="Male" data-obj="lookFor" type="checkbox" class="selectRealCheckBox" name="selectGender" />
						</div>
						<div class="selectInfoCover">
							Female
							<input id="genderLookingFemale" data-value="Female" data-obj="lookFor" type="checkbox" class="selectRealCheckBox" name="selectGender" />
						</div>
					</div>
				</div>



				<!-- Select looking for ethnic group -->
				<div class="selectYourInfo">
					<div class="selectYourInfoHeader">Ethnicity: <span class="OptSelectedLabel"></span></div>
					<div class="selectYourInfoBody">
						<div class="selectInfoCover">
							African
							<input id="" data-value="African" data-obj="lookRace" type="radio" class="selectCheckBox" name="selectLookingEthnic" />
						</div>
						<div class="selectInfoCover">
							White
							<input id="" data-value="White" data-obj="lookRace" type="radio" class="selectCheckBox" name="selectLookingEthnic" />
						</div>
						<div class="selectInfoCover">
							Coloured
							<input id="" data-value="Coloured" data-obj="lookRace" type="radio" class="selectCheckBox" name="selectLookingEthnic" />
						</div>
						<div class="selectInfoCover">
							Indian
							<input id="" data-value="Indian" data-obj="lookRace" type="radio" class="selectCheckBox" name="selectLookingEthnic" />
						</div>
						<div class="selectInfoCover">
							Any
							<input id="" data-value="Any" data-obj="lookRace" type="radio" class="selectCheckBox" name="selectLookingEthnic" />
						</div>
					</div>

				</div>


				<!-- Looking for Marital status -->
				<div class="selectYourInfo">
					<div class="selectYourInfoHeader">Marital status: <span class="OptSelectedLabel"></span></div>
					<div class="selectYourInfoBody">
						<div class="selectInfoCover">
							Single
							<input id="" data-value="Single" data-obj="lookMarital" type="radio" class="selectCheckBox" name="selectLookingMaritalStatus" />
						</div>
						<div class="selectInfoCover">
							Married
							<input id="" data-value="Married" data-obj="lookMarital" type="radio" class="selectCheckBox" name="selectLookingMaritalStatus" />
						</div>
						<div class="selectInfoCover">
							Divorced
							<input id="" data-value="Divorced" data-obj="lookMarital" type="radio" class="selectCheckBox" name="selectLookingMaritalStatus" />
						</div>
						<div class="selectInfoCover">
							Widow
							<input id="" data-value="Widow" data-obj="lookMarital" type="radio" class="selectCheckBox" name="selectLookingMaritalStatus" />
						</div>
						<div class="selectInfoCover">
							Widower
							<input id="" data-value="Widower" data-obj="lookMarital" type="radio" class="selectCheckBox" name="selectLookingMaritalStatus" />
						</div>
						<div class="selectInfoCover">
							Any
							<input id="" data-value="Any" data-obj="lookMarital" type="radio" class="selectCheckBox" name="selectLookingMaritalStatus" />
						</div>
					</div>

				</div>


				<!-- Have children -->
				<div class="selectYourInfo">
					<div class="selectYourInfoHeader">Have children: <span class="OptSelectedLabel"></span></div>
					<div class="selectYourInfoBody">
						<div class="selectInfoCover">
							Yes
							<input id="" data-value="Yes" data-obj="lookHaveChild" type="radio" class="selectCheckBox" name="selectWantHaveChild" />
						</div>
						<div class="selectInfoCover">
							No
							<input id="" data-value="No" data-obj="lookHaveChild" type="radio" class="selectCheckBox" name="selectWantHaveChild" />
						</div>
						<div class="selectInfoCover">
							Any
							<input id="" data-value="Any" data-obj="lookHaveChild" type="radio" class="selectCheckBox" name="selectWantHaveChild" />
						</div>
					</div>
				</div>


				<!--  Looking for Eat habits -->
				<div class="selectYourInfo">
					<div class="selectYourInfoHeader">Eating habits: <span class="OptSelectedLabel"></span></div>
					<div class="selectYourInfoBody">
						<div class="selectInfoCover">
							Healthy
							<input id="" data-value="Healthy" data-obj="lookEatHabit" type="radio" class="selectCheckBox" name="selectEatHabit" />
						</div>
						<div class="selectInfoCover">
							Most thing
							<input id="" data-value="Most thing" data-obj="lookEatHabit" type="radio" class="selectCheckBox" name="selectEatHabit" />
						</div>
						<div class="selectInfoCover">
							Diet
							<input id="" data-value="Diet" data-obj="lookEatHabit" type="radio" class="selectCheckBox" name="selectEatHabit" />
						</div>
						<div class="selectInfoCover">
							Any
							<input id="" data-value="Any" data-obj="lookEatHabit" type="radio" class="selectCheckBox" name="selectEatHabit" />
						</div>
					</div>

				</div>



				<!--  Body type -->
				<div class="selectYourInfo">
					<div class="selectYourInfoHeader">Body Type: <span class="OptSelectedLabel"></span></div>
					<div class="selectYourInfoBody">
						<div class="selectInfoCover">
							Slim
							<input id="" data-value="Slim" data-obj="lookBodyType" type="radio" class="selectCheckBox" name="selectLookBodyType" />
						</div>
						<div class="selectInfoCover">
							Mudium
							<input id="" data-value="Mudium" data-obj="lookBodyType" type="radio" class="selectCheckBox" name="selectLookBodyType" />
						</div>
						<div class="selectInfoCover">
							Muscular
							<input id="" data-value="Muscular" data-obj="lookBodyType" type="radio" class="selectCheckBox" name="selectLookBodyType" />
						</div>
						<div class="selectInfoCover">
							Curvy
							<input id="" data-value="Curvy" data-obj="lookBodyType" type="radio" class="selectCheckBox" name="selectLookBodyType" />
						</div>
						<div class="selectInfoCover">
							Fat
							<input id="" data-value="Fat" data-obj="lookBodyType" type="radio" class="selectCheckBox" name="selectLookBodyType" />
						</div>
						<div class="selectInfoCover">
							Other
							<input id="" data-value="Other" data-obj="bodyType" type="radio" class="selectCheckBox" name="selectLookBodyType" />
						</div>
					</div>
				</div>


				<!--  Hair color -->
				<div class="selectYourInfo">
					<div class="selectYourInfoHeader">Hair color: <span class="OptSelectedLabel"></span></div>
					<div class="selectYourInfoBody">
						<div class="selectInfoCover">
							Black
							<input id="" data-value="Black" data-obj="lookHairColor" type="radio" class="selectCheckBox" name="selectLookHairColor" />
						</div>
						<div class="selectInfoCover">
							Blonde
							<input id="" data-value="Blonde" data-obj="lookHairColor" type="radio" class="selectCheckBox" name="selectLookHairColor" />
						</div>
						<div class="selectInfoCover">
							Grey
							<input id="" data-value="Grey" data-obj="lookHairColor" type="radio" class="selectCheckBox" name="selectLookHairColor" />
						</div>
						<div class="selectInfoCover">
							Other
							<input id=""  data-value="Other" data-obj="lookHairColor" type="radio" class="selectCheckBox" name="selectLookHairColor" />
						</div>
					</div>
				</div>


				<!--  Eye color -->
				<div class="selectYourInfo">
					<div class="selectYourInfoHeader">Eye Color: <span class="OptSelectedLabel"></span></div>
					<div class="selectYourInfoBody">
						<div class="selectInfoCover">
							Black
							<input id="" data-value="Black" data-obj="lookEyeColor" type="radio" class="selectCheckBox" name="selectLookEyeColor" />
						</div>
						<div class="selectInfoCover">
							Brown
							<input id="" data-value="Brown" data-obj="lookEyeColor" type="radio" class="selectCheckBox" name="selectLookEyeColor" />
						</div>
						<div class="selectInfoCover">
							Blue
							<input id="" data-value="Blue" data-obj="lookEyeColor" type="radio" class="selectCheckBox" name="selectLookEyeColor" />
						</div>
						<div class="selectInfoCover">
							Other
							<input id="" data-value="Other" data-obj="lookEyeColor" type="radio" class="selectCheckBox" name="selectLookEyeColor" />
						</div>
					</div>
				</div>


				<!--  looking drink -->
				<div class="selectYourInfo">
					<div class="selectYourInfoHeader">Can drink?: <span class="OptSelectedLabel">No</span></div>
					<div class="selectYourInfoBody">
						<div class="selectInfoCover">
							Yes
							<input id="" data-value="Yes" data-obj="lookCanDrink" type="radio" class="selectCheckBox" name="selectLookDrink" />
						</div>
						<div class="selectInfoCover">
							No
							<input id="" data-value="No" data-obj="lookCanDrink" type="radio" class="selectCheckBox" name="selectLookDrink" />
						</div>
					</div>

				</div>


				<!--  looking smoke -->
				<div class="selectYourInfo">
					<div class="selectYourInfoHeader">Can smoke?: <span class="OptSelectedLabel">No</span></div>
					<div class="selectYourInfoBody">
						<div class="selectInfoCover">
							Yes
							<input id="" data-value="Yes" data-obj="lookCanSmoke" type="radio" class="selectCheckBox" name="selectSmoke" />
						</div>
						<div class="selectInfoCover">
							No
							<input id="" data-value="No" data-obj="lookCanSmoke" type="radio" class="selectCheckBox" name="selectSmoke" />
						</div>
					</div>
				</div>



			</div>




	</div>

</div>
