
<div id="viewEditPictureOptions">
	<div class="imageEditButton" id="uploadFromGallery"></div>
	<div class="imageEditButton" id="uploadFromCamera"></div>
	<div class="imageEditButton" id="removeProfilePicture"></div>
</div>

<div id="viewMyProfile"><img src="#" /></div>

<div class="selectYourInfo">
	<div class="selectYourInfoHeader">Username</div>
	<div class="selectYourInfoBody">						
		<div id="viewMyProfileUserName"></div>
	</div>
</div>

<div class="selectYourInfo">
	<div class="selectYourInfoHeader">Email Address</div>
	<div class="selectYourInfoBody">						
		<div id="viewMyProfileUserEmail"></div>
	</div>
</div>

<br />