<div class="notify_buttons">
	<input type="checkbox" id="alertSound" /> <b>Sounds</b><br />
	<em>Play sounds for incoming and outgoing messages.</em>
</div>

<div class="notify_buttons">
	<input type="checkbox" id="alertVibrate" /> <b>Vibrations</b><br />
	<em> Vibrate device when new message arrives when application is running.</em>
</div>
