
            <div id="profile_users_header">
                <div id="go_back_hooks">Profile</div>
                <div id="dislike-button"></div>
                <div id="like-button"></div>
                <div id="likedOrDislike"></div>
            </div>
            
            <div id="profile_users_body">
                <div id="view_profile_header">
                    <div id="view_profile_picture">
                        <img src="#" />
                    </div>
                    <div id="view_profile_personal">
                        <div id="view_profile_username"></div>
                        <div id="view_profile_gender"></div>
                        <div id="view_profile_location">Pretoria, Gauteng</div>
                    </div>
                </div>

                <div id="view_profile_content">

                    <div class="selectYourInfo">
                        <div id="view_profile_about_heading" class="selectYourInfoHeader"></div>
                        <div class="selectYourInfoBody" id="view_profile_about"></div>
                    </div>

                </div>

            </div>