
<div class="form_register">

	<form method="post" id="frmRegister" action="s/App_Models/Register_Model.php">
	    <input type="text" id="username" class="login-input" name="username" placeholder="Type in your username" />    
	    <input type="text" id="email" class="login-input" name="email"  placeholder="Type in your email" />
	    <input type="password" id="userPass" class="login-input"  placeholder="Type in your Password"/>
	    <input type="password" id="confirmPass" name="password" class="login-input" placeholder="Confirm your Password" /><br />

	    <input type="button" id="submitRegButton" name="submitRegButton" value="Sign Up" />
	</form>


<div id="show_user_login_button" class="link_button" data-open="login_form.html">
	Already a member? Sign in					
</div>

</div>