
<form method="post" action="" >
	    <input type="text" id="username" class="login-input" name="username" placeholder="Type in your username" />    
	    <input type="text" id="email" class="login-input" name="email" placeholder="Type in your email" />
	    <br />
		<input type="button" id="submitRegButton" name="submitRegButton" value="Reset Password" />
</form>

<div id="register_button" class="link_button" data-open="register.html">
	Not yet a member? Sign up now					
</div>

<div id="show_user_login_button" class="link_button" data-open="login_form.html">
	Sign in					
</div>