
<div id="chatSetting" class="menu_pop_button">Chat settings</div>                   
<div id="accountSettings" class="menu_pop_button">Account</div>                   
<div id="Notify_settings" data-open="notifications.html" class="menu_pop_button">Notifications</div>                 
<div id="Pass_Settings" class="menu_pop_button">Password</div>                   
<div id="setLocation" class="menu_pop_button">Location</div>                   
<div id="dislike_list" data-open="dislikes.html" class="menu_pop_button">Dislike list</div>